<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @issue.title %>
</p>

<p>
  <b>Label:</b>
  <%= @issue.label %>
</p>

<p>
  <b>Description:</b>
  <%= @issue.description %>
</p>

<p>
  <b>Status:</b>
  <%= @issue.status %>
</p>

<p>
  <b>Estimate:</b>
  <%= @issue.estimate %>
</p>
<p>
  <b>Story points:</b>
  <%= @issue.points_estimate %>
</p>


<%= link_to 'Edit', edit_polymorphic_path([@issue.project, @issue]) %> |
<%= link_to 'Back', @issue.project %>
