<% if @user != nil %>
    <div class="span8">
        <h2>My projects <%= link_to "New project", new_project_path, :class => "btn btn-success btn-medium" %></h2>
        <table class="table table-striped table-hover">
            <% if @user.projects.empty? %>
                <tr><td>No projects</td></tr>
            <% else %>
                <% @user.projects.each do |project| %>
                    <tr>
                        <td><%= link_to project.title, project , :class =>  "" %>
                            <div class="pull-right">
                                <%= link_to "", edit_project_path(project), :class => "btn btn-small icon-pencil" %>
                                <%= link_to "", project, :class => "btn btn-small btn-danger icon-trash", :method => :delete, :data => { :confirm => 'Are you sure?' } %></a>
                            </div>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
<% else %>
    <div class="hero-unit">
        <span class="pagination-centered">
            <h1>Project Manager</h1>
        </span>
        <span class="pagination-centered">
            <%= button_to "Sign in with twitter", "/auth/twitter", :class => "btn btn-large btn-primary btn-login" %>
        </span>
        
    </div>
<% end %>




<br />
