  <% if notice %>
    <div class= "alert alert-block alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p id="notice"><%= notice %></p>
    </div> 
  <% end %>
<% if @user != nil %>
  <div class="container">
    <h1 class="page-header">My projects</h1>
    <%= link_to "New project", new_project_path, :class => "btn btn-primary" %>
    <div class="row main-features">
      <div class="span12">
        <table class="table table-striped table-hover">
          <% if @user.projects.empty? %>
            <thead>
              <tr>
                <th>Project name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>No projects. For new project, click on the button 'New project' or <%= link_to 'here', new_project_path %></td>
              <td></td>
              <td></td>
            </tr>
          <% else %>
          <thead>
            <tr>
              <th>Project name</th>
              <th>Description</th>
              <th>Issues</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @user.projects.each do |project| %>
              <tr>
                <td><%= link_to project.title, project%></td>
                <td><%= truncate(project.description, :length => 50, :separator => ' ', :omission => "...(continued)") %></td>
                <td><span class="badge"><%= project.issues.count %></span></td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-small" href=<%= edit_project_path(project) %>><i class="icon-pencil"></i></a>
                    <%= link_to raw("<i class=\'icon-white icon-remove\'></i>"), project, :method=>:delete, :confirm=>'Are you sure?', :class=>"btn btn-danger btn-small" %>
                  </div>
                </td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="hero-unit">
    <span class="pagination-centered">
        <h1>Project Manager</h1>
    </span>
    <span class="pagination-centered">
        <%= button_to "Sign in with Twitter", "/auth/twitter", :class => "btn btn-large btn-primary btn-login" %>
        <%= button_to "Sign in with Google", "/auth/google", :class => "btn btn-large btn-success" %>
    </span>
  </div>
<% end %>