<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Title*</label>
    <div class="controls">
      <%= f.text_field :title, :class => "input-xxlarge" %>
      <p class="help-block">Project name</p>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">                     
      <%= f.text_area :description, :rows=>4, :class => "input-xxlarge" %>
    </div>
  </div>

  <div class="actions btn-group">
    <a href=<%= root_url %> class="btn"><i class="icon-arrow-left"></i> Back</a>
    <%= f.submit 'Submit', :class => "btn btn-medium btn-primary" %>
  </div>
<% end %>
