<p id="notice"><%= notice %></p>

<%= link_to '< Back to my projects', root_url, :class => "btn btn-small" %> | 
<%= link_to 'Edit project', edit_project_path(@project), :class => "btn btn-small" %>
<h1><%= @project.title %></h1>

<div class="row-fluid">
  <h4>Issues</h4>
  <div class="container">
    <div class="span2">AAAAAAAAAAAAAAA</div>
    <div class="span2">BBBBBBBBBBBBBBB</div>
    <div class="span2">CCCCCCCCCCCCCCC</div>
    <div class="span2">DDDDDDDDDDDDDDD</div>

    <div class="span4">
      <h4>Description:</h4>
      <%= @project.description %>

      <h4>Add issue</h4>
      <%= render 'issues/form' %>
    </div>
  </div>
</div>

<!-- <%= render @project.issues %> -->
