<p id="notice"><%= notice %></p>
<%= link_to 'My projects', root_url, :class => "btn btn-small btn-primary" %>
<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>
<p>
  <b>Id:</b>
  <%= @project.id %>
</p>

<h3>Issues</h3>
<table>
	<% @project.issues.each do |issue| %>
		<tr>
			<td><%= link_to issue.title, issue %></td>
      <td><%= link_to 'Destroy', issue, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
		</tr>
	<% end %>

</table>

<!-- <%= render @project.issues %> -->

<h3>Add issue</h3>
<%= render 'issues/form' %>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', "http://localhost:3000/projects#show" %> |

