<p id="notice"><%= notice %></p>

<%= link_to '< Back to my projects', root_url, :class => "btn btn-small" %> | 
<%= link_to 'Edit project', edit_project_path(@project), :class => "btn btn-small" %>
<h1><%= @project.title %></h1>

<div class="row-fluid">
  <h4>Issues</h4>
  <div class="container">
    <div class="span2">
      <table class="table table-striped table-hover">
        <tr>Sprint Log</tr>
        <% @sprintlog_issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, [@project, issue], :class =>  "" %></td>
            <td><%= link_to "Edit", edit_project_issue_path(@project, issue) %></td>
            <td><%= link_to "X", [@project, issue], :method=>:delete, :confirm=>'Are you sure?' %></td>
            <td><%= issue.points_estimate.to_s %></td>
          </tr>
        <% end %>
        <tr>
          <td>Total:</td>
          <td></td>
          <td></td>
          <td><%= @sprintlog_points %></td>
        </tr>
      </table>
    </div>
    <div class="span2">
      <table class="table table-striped table-hover">
        <tr>In progress</tr>
        <% @progress_issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, [@project, issue], :class =>  "" %></td>
            <td><%= link_to "Edit", edit_project_issue_path(@project, issue) %></td>
            <td><%= link_to "X", [@project, issue], :method=>:delete, :confirm=>'Are you sure?' %></td>
            <td><%= issue.points_estimate.to_s %></td>
          </tr>
        <% end %>
        <tr>
          <td>Total:</td>
          <td></td>
          <td></td>
          <td><%= @progress_points %></td>
        </tr>
      </table>
    </div>
    <div class="span2">
      <table class="table table-striped table-hover">
        <tr>Test</tr>
        <% @test_issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, [@project, issue], :class =>  "" %></td>
            <td><%= link_to "Edit", edit_project_issue_path(@project, issue) %></td>
            <td><%= link_to "X", [@project, issue], :method=>:delete, :confirm=>'Are you sure?' %></td>
            <td><%= issue.points_estimate.to_s %></td>
          </tr>
        <% end %>
        <tr>
          <td>Total:</td>
          <td></td>
          <td></td>
          <td><%= @test_points %></td>
        </tr>
      </table>
    </div>
    <div class="span2">
      <table class="table table-striped table-hover">
        <tr>Done</tr>
        <% @done_issues.each do |issue| %>
          <tr>
            <td><%= link_to issue.title, [@project, issue], :class =>  "" %></td>
            <td><%= link_to "Edit", edit_project_issue_path(@project, issue) %></td>
            <td><%= link_to "X", [@project, issue], :method=>:delete, :confirm=>'Are you sure?' %></td>
            <td><%= issue.points_estimate.to_s %></td>
          </tr>
        <% end %>
        <tr>
          <td>Total:</td>
          <td></td>
          <td></td>
          <td><%= @done_points %></td>
        </tr>
      </table>
    </div>

    <div class="span4">
      <h4>Story points</h4>
      Remaining: <%= @remain_points %> Done: <%= @done_points %> Total: <%= @total_points %>
      <h4>Description</h4>
      <%= @project.description %>

      <h4>Add issue</h4>
      <%= render 'issues/form' %>
    </div>
  </div>
</div>

<!-- <%= render @project.issues %> -->
