<!DOCTYPE html>
<html>
<head>
  <title>Project manager</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name="google-site-verification" content="ty-krlycYCOkVwucDGq_qJCF8tdJj4BXNUt-rj04XJ0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Project Manager", root_url, :class => "brand" %>
          <ul class="nav pull-right">
            <% if current_user %>
              <%= link_to current_user.username, root_url, :class => "btn btn-small" %>
              <%= link_to "Signout", signout_path, :class => "btn btn-small btn-primary" %>
            <% else %>
              <%= link_to " Sign in with Twitter ", "/auth/twitter", :class => "btn btn-small btn-primary icon-white icon-arrow-left" %>
              <%= link_to " Sign in with Google ", "/auth/google", :class => "btn btn-small btn-primary icon-white icon-arrow-left" %>
            <% end %>
          </ul>
      </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>


</body>
</html>